<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="style/headerStyle.css">
        <link rel="stylesheet" href="web/styleCSS/base.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
              crossorigin="anonymous">
    </head>
    <body style="background-color:#33D1FF">
        <!--debut if l'user n'est pas connecté -->
     
        <!--fin if l'user n'est pas connecté-->
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- <a class="navbar-brand" href="#">Home</a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
             <!--  <img src="images/logo.png" class="img-fluid img-thumbnail rounded " alt="LOGO" >-->
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="app_dev.php">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item navbar-light">
                        <a class="nav-link" href="{{path("televerser")}}">Televerser</a>
                    </li>
                    <li class="nav-item navbar-light">
                        <a class="nav-link" href="{{path("telecharger")}}">Télécharger</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="#">NewsLetter</a>-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-light" href="#">Sauvgarder</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                   <!-- <input class="form-control mr-sm-2" type="search" placeholder="Recherche">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>-->
                </form>
            </div>
        </nav>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"  crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"  crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
   
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
