{# empty Twig template #}
{% extends 'base.html.twig' %}
{% block body %}
    ID = {{ Documents.id }} <br/>
    intitule = {{ Documents.intitule }} <br/> 
    typeDoc = {{ Documents.typeDoc}}<br/>
    url={{ Documents.typeDoc}}<br/>
    
{% endblock %}

