{# empty Twig template #}
{% extends 'base.html.twig' %} 
{% block body %} 
    <table border="1">
        <tr> <th>ID </th> 
            <th>INTITULE </th> 
            <th>TYPE </th> 
            <th>URL </th> 
            <th>DATE </th> 
        </tr>
        {% for d in Documents %}
            <tr> 
                <td>{{ d.id }}</td> 
                <td>{{ d.intitule }}</td> 
                <td>{{ d.typeDoc }}</td>
                <td>{{ d.url }}</td>
            </tr>
        {% endfor %}
        </table> 
        {% endblock %}
