{# empty Twig template #}
{#{% extends 'base.html.twig' %}#}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="style/headerStyle.css">
            <link rel="stylesheet" href="web/styleCSS/base.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
              crossorigin="anonymous">
    </head>
    <body> 

    {% block body %}
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-5">
                <div class="well">
                    <form action="{{ path('login') }}" method="post">
                        <fieldset>
                            <legend><i class="fa fa-lock" aria-hidden="true"></i> Connexion</legend>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" name="_password" class="form-control" />
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> Valider
                            </button>
                            
                        </fieldset>
                    </form>
                    <div>
                        <a  href="{{ path('app_forgotten_password') }}">Forgotten password</a>
                    </div>
                </div>
            </div>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"  crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"  crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
        {% endblock %}
        {% block javascripts %}{% endblock %}

</body>      
</html>