{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <label for="inputUsername" class="sr-only">Nom d'utilisateur</label>
        <input type="text" name="username" id="inputUsername" class="form-control"
               placeholder="Nom d'utilisateur" required autofocus>
        <label for="inputNomComplet" class="sr-only">Nom Complet</label>
        <input type="text" name="nomComplet" id="inputNomComplet" class="form-control"
               placeholder="Nom Complet" required autofocus>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control"
               placeholder="Email" required autofocus>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" 
               placeholder="Mot de passe" required>
        <button class="btn btn-lg btn-primary" type="submit">
            Register
        </button>
    </form>
{% endblock %}