{# empty Twig template #}
{% extends 'base.html.twig' %} 
{% block body %}
  {#  {{ form(f) }}#}
  <div class="form-group">
   <h1>Téléverser un document</h1>
    {{ form_start(f,{ 'attr': {'enctype': 'multipart/form-data','id': 'file_upload_form'  }  } ) }}
    <input   type="file" name="myFile"  class="form-control-file" 
             id="exampleFormControlFile1"  /><br/>
    <input   type="submit" name="televerser" value="Televerser"  
              id="exampleFormControlFile1" />
    {{ form_end(f) }}
  </div>
{% endblock %}