{# empty Twig template #}
{% extends 'base.html.twig' %} 
{% block body %} 
    <table border="1">
        <tr> <th>ID </th> 
            <th>INTITULE </th> 
            <th>URL </th> 
        </tr>
        {% for d in Documents %}
            <tr> 
                <td>{{ d.id }}</td> 
                <td>{{ d.intitule }}</td> 
                <td><a href="{{httpDoc}}{{ d.url }}" target="_blank">telecharger</a></td>
            </tr>
        {% endfor %}
        </table> 
        {% endblock %}
